# Node.js
**/node_modules/
**/package-lock.json
**/npm-debug.log*

# Pastas de compilação e caches do PlatformIO
**/.pio/
**/.clang_complete
**/.gcc-flags.json
**/.pycache/
**/cmake-build-*/
**/.vscode/

# Ficheiros do sistema operativo
.DS_Store
Thumbs.db

# Ficheiros de configuração com credenciais
**/config_secret.h
**/.env
